# Ignore virtual environments
.venv/
env/
__pycache__/

# Ignore Python bytecode
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env


# model
artifacts/similarity.pkl


# Installer logs
pip-log.txt
pip-delete-this-repository.txt


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Ignore system files
.DS_Store



# pyenv
.python-version



.vscode

# PEP 582: used by e.g., github.com/David-Oconnor/pyflow
__pypackages__/artifacts/similarity.pkl
artifacts/similarity.pkl
